addict==2.4.0
imageio==2.9.0
imageio-ffmpeg==0.4.5
moviepy==1.0.3
numpy==1.21.2
opencv-python
Pillow
pygame==2.0.1
pymunk==6.2.0
PyYAML==5.3.1
matplotlib
gym
pandas
tensorflow==2.4.1
tensorflow_probability==0.12.2
ruamel.yaml
tqdm
wandb